<%- include("header") %> 

<body>

 <main>
 
	<h1>BROWSE cards.</h1>
	<h2><a href="/">BACK.</a></h2>
	<section class="card-list">
		<% categories.forEach(function (category) { %>
			<article class="card" id='<%=category.title%>'>
				<header class="card-header">
					<h2>PICK<a href="/categories/<%=category._id%>"><%=category.title%></a></h2>
				</header>
				<div class="card-author">
				<img class="author-avatar" src="https://cdn.pixabay.com/photo/2020/06/06/20/50/online-troll-5268149_1280.jpg" />
				</div>
			</article>
		<% }); %> 
	</section>

	<h2><a href="/categories/new">CREATE card.</a></h2>
	
  </main>

</body>
	
<%- include("footer") %> 
