<h1>
	<%=category.title%>
</h1>
<h4>
	<a href="/categories">Back.</a>
</h4>

<ol>
	<li><%=category.item1%></li>
	<li><%=category.item2%></li>
	<li><%=category.item3%></li>
	<li><%=category.item4%></li>
	<li><%=category.item5%></li>
	<li><%=category.item6%></li>
	<li><%=category.item7%></li>
	<li><%=category.item8%></li>
	<li><%=category.item9%></li>
	<li><%=category.item10%></li>
</ol>

<a href="/categories/<%=category._id%>/edit">Edit me.</a>
<form action="/categories/<%=category._id%>?_method=DELETE" method=POST>
	<button>Delete!</button>
</form>
